.container{
    width: 100%;
}

a{
    text-decoration: none;
}

.banner img{
    max-width: 100%;
    border-radius: 5px;
}

.title{
    text-align: center;
    padding: 20px;
    color: #2d2d2d;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 32px;
}


