.container{
    width: 100%;
    border-bottom: .5px solid #d0d0d0;
    padding: 10px;
    display: flex;
    align-items: center;
}

.git{
    margin-left: 0 ;
}

.logo{
    margin: 0 auto;
}

.logo img{
    width: 70px;
}