.header{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

a, svg{
    color: #E85659;
}

svg{
    font-size: 25px;
}

.header span{
    color: #888888;
    display: flex;
    align-items: center;
    gap: 5px;
}

.share{
    font-size: 32px;
    cursor: pointer;
    margin-left: auto;
}